*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1920px;
    width: 100%;
    font-family: Manrope;
}
/* -----navbar------ */
.navbar{
    max-width: 1540px;
    width: 100%;
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}
.navbarMenu{
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;

}
.navbarMenuChild{
    display: flex;
    flex-direction:row;
    gap: 45px;
}
.navbarLanguage{
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.navbarFlagUzb{
    opacity: 0.4;
}
/* -------container------ */
.conatiner{
    max-width: 1100px;
    width: 100%;
    padding-top: 110px;
    padding-bottom: 90px;
    margin: auto;
}
.hero{
    background: #EEE;
   
}
.hero .conatiner .titleH{
    margin-top: 30px;

}
.titleH{
    width: 809px;
    color: rgba(0, 0, 0, 0.80);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 126.6%; 
}
.hero .conatiner .titleP{
    margin-top: 25px;
}
.titleP{
    width: 1062px;
    color: rgba(0, 0, 0, 0.60);
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; 
}
/* ---web site--- */

.websiteText{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.websiteTextChild{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.website .conatiner{
    display: flex;
    flex-direction: column;
    gap: 90px;
}
/* ---bank service--- */
.bankservice{
    background: #EEE;
}
.bankservice .conatiner{
    display: flex;
    flex-direction: column;
    gap: 90px;
}
.bankserviceText{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.bankserviceChild{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 60px;
}
.service{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 465px;
    width: 100%;
    height: 200px;    
}
.serviceChild{
    gap: 20px;
    display: flex;
    flex-direction: row;
}
.serviceChildH{
    color: rgba(0, 0, 0, 0.80);
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 126.6%;
    width: 128px;
}
.serviceP{
    color: rgba(0, 0, 0, 0.60);
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 40px */
}

.about .conatiner{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
/* ---footer--- */
footer{
    background: #EEE;
}
.footerText{
    display: flex;
    flex-direction: column;
    gap: 60px;
    max-width: 400px;
    width: 100%;
}
.ftContact{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
.ftContactChild{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.footerImg{
    width: 190px;
    height: 190px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 130px;
}
footer .conatiner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width:1440px) {
    .navbar{
        max-width: 1400px;
        width: 100%;
        margin:auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 20px;
    }
    
}
@media (max-width:1024px) {
    body{
        max-width: 1024px;
        width: 100%;
        font-family: Manrope;
    }
    .navbar{
        max-width: 1000px;
        width: 100%;
        margin:auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 20px;
    }
 
    .navbarMenuChild{
        display: none;
    }
    .conatiner{
        max-width: 845px;
        width: 100%;
        padding-top: 110px;
        padding-bottom: 90px;
        margin: auto;
    }
    .heroImg{
        width: 807px;
        height: 439px;
    }
    .titleH{
        color: rgba(0, 0, 0, 0.80);
        font-family: Manrope;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: 126.6%; 
    }
   
    .titleP{
        max-width: 845px;;
        width: 100%;
        color: rgba(0, 0, 0, 0.60);
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%; 
    }
    .websiteImg{

        max-width: 979px;
        width: 100%;
        height: 537px;
        flex-shrink: 0;
    }
    .bankserviceImg{
        max-width: 1060px;
        width: 100%;
        height: 411px;
        flex-shrink: 0;
    }
    
    .serviceChildH{
        color: rgba(0, 0, 0, 0.80);
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 126.6%; 
    }
    .serviceP{
        color: rgba(0, 0, 0, 0.60);
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%; 
    }
}
@media (max-width:768px) {
    body{
        max-width: 768px;
        width: 100%;
        font-family: Manrope;
    }
    .navbar{
        display: flex;
        width: 768px;
        padding: 0px 40px;
        justify-content: space-between;
        align-items: center;
    }
    .navbarMenuChild{
        display: none;
    }
    .navbarFlagUzb{
        display: none;
    }
    .conatiner{
        max-width: 668px;
        width: 100%;
        padding-top: 110px;
        padding-bottom: 90px;
        margin: auto;
    }
    .heroImg{
        width: 688px;
        height: 373px;
    }
    .titleH{
        max-width: 688px;
        color: rgba(0, 0, 0, 0.80);
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 126.6%;  
    }
   
    .titleP{
        max-width: 688px;
        color: rgba(0, 0, 0, 0.60);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%; 
    }
    .websiteImg{
        max-width: 768px;
        width: 100%;
        height: 421px;
        flex-shrink: 0;
    }

    .bankserviceImg{
        max-width: 768px;
        width: 100%;
        height: 297px;
        flex-shrink: 0;
    }
    
    .serviceChildH{
        color: rgba(0, 0, 0, 0.80);
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 126.6%; 
    }
    .serviceP{
        color: rgba(0, 0, 0, 0.60);
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%; 
    }
}
@media (max-width:414px) {
    body{
        max-width: 414px;
        width: 100%;
        font-family: Manrope;
    }
    .navbar{
        display: flex;
        max-width: 414px;
        width: 100%;
        padding: 0px 40px;
        justify-content: space-between;
        align-items: center;
    }
    .navbarMenuChild{
        display: none;
    }
    .navbarFlagUzb{
        display: none;
    }
    .conatiner{
        max-width: 414px;
        width: 100%;
        padding-top: 110px;
        padding-bottom: 90px;
        margin: auto;
    }
    .heroImg{
        width: 400px;
        height: 243px;
    }
    .titleH{
        width: 382px;
        color: rgba(0, 0, 0, 0.80);
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 126.6%; 
    }
   
    .titleP{
        max-width: 382px;
        color: rgba(0, 0, 0, 0.60);
        font-family: Manrope;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%; 
    }
    .websiteImg{
        max-width: 400px;
        width: 100%;
        height: 253px;
    }

    .bankserviceImg{
        max-width: 400px;
        width: 100%;
        height: 219px;
        flex-shrink: 0;
    }
    .bankserviceChild{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .service{
        width: 388px;
        height: auto;
    }
    .serviceChildH{
        color: rgba(0, 0, 0, 0.80);
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 126.6%; 
    }
    .serviceP{
        color: rgba(0, 0, 0, 0.60);
        font-family: Manrope;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
    }
    footer .conatiner{
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 40px;
    }
    
    .footerImg{
        padding: 0;
        width: 120px;
    }
}
